<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      <h2>{{ site.title | escape }}</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        {%- if site.dribbble_username -%}
          <li>
            <a target="_blank" href="https://dribbble.com/{{ site.dribbble_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-dribbble-square" title="Dribble link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.facebook_username -%}
          <li>
            <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-facebook" title="Facebook link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.flickr_username -%}
          <li>
            <a target="_blank" href="https://www.flickr.com/photos/{{ site.flickr_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-flickr" title="Flickr link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.github_username -%}
          <li>
            <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-github" title="Github link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.stackoverflow_username -%}
          <li>
            <a target="_blank" href="https://stackoverflow.com/users/{{ site.stackoverflow_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-stack-overflow" title="Stackoverflow link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.instagram_username -%}
          <li>
            <a target="_blank" href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-instagram" title="Instagram link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.linkedin_username -%}
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-linkedin" title="Linkedin link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.xing_username -%}
          <li>
            <a target="_blank" href="https://www.xing.com/profile/{{ site.xing_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-xing" title="Xing link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.pinterest_username -%}
          <li>
            <a target="_blank" href="https://www.pinterest.com/{{ site.pinterest_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-pinterest" title="Pintrest link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.twitter_username -%}
          <li>
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-twitter" title="Twitter link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.youtube_username -%}
          <li>
            <a target="_blank" href="https://www.youtube.com/{{ site.youtube_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-youtube" title="Youtube link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.googleplus_username -%}
          <li>
            <a target="_blank" href="https://plus.google.com/{{ site.googleplus_username| escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-google-plus" title="Google plus link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.orcid_username -%}
          <li>
            <a target="_blank" href="https://orcid.org/{{ site.orcid_username | escape }}" class="button button--sacnite button--round-l">
              <i class="fab fa-orcid" title="ORCiD link"></i>
            </a>
          </li>
        {%- endif -%}
        {%- if site.tistory_username -%}
          <li>
            <a target="_blank" href="https://{{ site.tistory_username }}.tistory.com" class="button button--sacnite button--round-l">
              <div class="tistory-ci" style="padding: 15px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 408.4 408.4">
                  <g>
                    <circle class="cls-1" cx="58.18" cy="58.18" r="58.18"/>
                    <circle class="cls-1" cx="204.2" cy="58.18" r="58.18"/>
                    <circle class="cls-1" cx="204.2" cy="204.2" r="58.18"/>
                    <circle class="cls-1" cx="204.2" cy="350.22" r="58.18"/>
                    <circle class="cls-1" cx="350.22" cy="58.18" r="58.18"/>
                  </g>
                </svg>
              </div>
            </a>
          </li>
        {%- endif -%}
        {%- if site.rocketpunch_username -%}
          <li>
            <a target="_blank" href="https://rocketpunch.com/@{{ site.rocketpunch_username }}" class="button button--sacnite button--round-l">
              <div class="rocketpunch-ci" style="width: 100%; height: 100%; padding: 3px;">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="54" height="54" viewBox="0 0 225.000000 225.000000">
                  <g transform="translate(0.000000,225.000000) scale(0.100000,-0.100000)" fill="" stroke="none">
                    <path d="M995 2239 c-162 -18 -365 -94 -506 -190 -75 -51 -193 -162 -247 -232 -300 -389 -316 -923 -41 -1328 52 -77 175 -207 242 -256 42 -31 51 -34 58 -21 28 49 111 147 177 209 70 64 173 141 204 151 6 2 -9 23 -36 48 -99 91 -188 236 -222 361 -20 74 -23 245 -5 324 26 114 92 241 177 340 90 106 270 235 328 235 84 0 300 -182 398 -335 87 -136 121 -249 121 -410 0 -91 -5 -124 -26 -190 -36 -108 -87 -193 -176 -287 -41 -43 -70 -82 -65 -86 5 -4 36 -26 69 -47 74 -49 240 -213 280 -277 17 -27 33 -48 36 -48 12 0 77 54 143 118 167 162 272 354 321 587 23 107 23 311 1 428 -76 398 -367 732 -746 855 -149 49 -334 68 -485 51z"/>
                    <path d="M1034 1514 c-118 -122 -178 -290 -155 -433 19 -117 89 -228 195 -310 l55 -43 28 20 c55 39 141 139 171 198 59 117 65 239 18 368 -42 117 -167 266 -222 266 -20 0 -44 -18 -90 -66z"/>
                    <path d="M1083 395 c-78 -44 -138 -89 -206 -154 -62 -59 -137 -149 -137 -164 0 -10 118 -43 200 -57 92 -16 283 -17 370 -1 36 7 97 21 137 33 l72 21 -28 41 c-43 62 -166 176 -251 233 -115 77 -110 75 -157 48z"/>
                  </g>
                </svg>
              </div>
            </a>
          </li>
        {%- endif -%}
        {% for link in site.additional_links %}
          <li>
            {% include a.html href=link.url class="button button--sacnite button--round-l" %}
              <i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>

      {%- if site.email -%}
        <p>
          {{ site.email_title | default: "Email" }}: <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
        </p>
      {%- endif -%}
      {%- if site.phone -%}
        <p>
          {{ site.phone_title | default: "Phone" }}: {{ site.phone | escape }}
        </p>
      {%- endif -%}
      {%- if site.website -%}
        <p>
          {{ site.website_title | default: "Web" }}: {% include a.html href=site.website %}{{ site.website | escape }}</a>
        </p>
      {%- endif -%}
    </div>
  </div>
</div>
